doctype xml
svg width="2600mm" height="750mm" viewBox="0 0 2600 750"
  text x="1300" y="200" fill="white" font-size="250px" font-family="Arial" text-align="center" text-anchor="middle" btw, I use
  text x="1300" y="720" fill="white" font-size="600px" font-family="Arial" text-align="center" text-anchor="middle" font-weight="600" AMPLOS
