doctype xml
svg width="210mm" height="297mm" viewBox="0 0 210mm 297mm" xmlns:xlink="http://www.w3.org/1999/xlink"
  rect width="100%" height="100%" fill="#ffffff"/
  image x="125mm" y="10mm" width="75mm" height="67.5mm" xlink:href="magik.png"/
  text x="10mm" y="20mm" font-family="Unifont" font-size="10mm" fill="#000000" chrissx Media BestTild
  text x="10mm" y="40mm" font-family="Helvetica Neue" font-size="8px" fill="#000000" Der Fleischmann ist erschienen.
  text x="30mm" y="200mm" font-family="Minecraft" font-size="50mm" fill="#00ffff" C
  text x="60mm" y="200mm" font-family="Minecraft" font-size="50mm" fill="#ff00ff" M
  text x="90mm" y="200mm" font-family="Minecraft" font-size="50mm" fill="#ffff00" Y
  text x="120mm" y="200mm" font-family="Minecraft" font-size="50mm" fill="#000000" K
  text x="30mm" y="250mm" font-family="Minecraft" font-size="50mm" fill="#ff0000" R
  text x="60mm" y="250mm" font-family="Minecraft" font-size="50mm" fill="#00ff00" G
  text x="90mm" y="250mm" font-family="Minecraft" font-size="50mm" fill="#0000ff" B
