doctype xml
svg width="210mm" height="297mm" viewBox="0 0 210mm 297mm"
  rect width="42mm" height="7.0mm" x="42mm" y="8.5mm" fill="#ff0000"/
  rect width="42mm" height="7.0mm" x="42mm" y="15.5mm" fill="#ff9800"/
  rect width="42mm" height="7.0mm" x="42mm" y="22.5mm" fill="#ffff00"/
  rect width="42mm" height="7.0mm" x="42mm" y="29.5mm" fill="#009800"/
  rect width="42mm" height="7.0mm" x="42mm" y="36.5mm" fill="#0000ff"/
  rect width="42mm" height="7.0mm" x="42mm" y="43.5mm" fill="#980098"/
  rect width="42mm" height="8.4mm" x="42mm" y="54.5mm" fill="#60d0ff"/
  rect width="42mm" height="8.4mm" x="42mm" y="62.9mm" fill="#ffb0c0"/
  rect width="42mm" height="8.4mm" x="42mm" y="71.3mm" fill="#ffffff"/
  rect width="42mm" height="8.4mm" x="42mm" y="79.7mm" fill="#ffb0c0"/
  rect width="42mm" height="8.4mm" x="42mm" y="88.1mm" fill="#60d0ff"/
  rect width="42mm" height="14.0mm" x="42mm" y="100.5mm" fill="#d70070"/
  rect width="42mm" height="14.0mm" x="42mm" y="114.5mm" fill="#705096"/
  rect width="42mm" height="14.0mm" x="42mm" y="128.5mm" fill="#0038a7"/
  rect width="42mm" height="14.0mm" x="42mm" y="146.5mm" fill="#ff218c"/
  rect width="42mm" height="14.0mm" x="42mm" y="160.5mm" fill="#ffff00"/
  rect width="42mm" height="14.0mm" x="42mm" y="174.5mm" fill="#0094ff"/
  rect width="42mm" height="10.5mm" x="42mm" y="192.5mm" fill="#000000"/
  rect width="42mm" height="10.5mm" x="42mm" y="203.0mm" fill="#808080"/
  rect width="42mm" height="10.5mm" x="42mm" y="213.5mm" fill="#ffffff"/
  rect width="42mm" height="10.5mm" x="42mm" y="224.0mm" fill="#800080"/
  rect width="42mm" height="10.5mm" x="42mm" y="238.5mm" fill="#ffff00"/
  rect width="42mm" height="10.5mm" x="42mm" y="249.0mm" fill="#ffffff"/
  rect width="42mm" height="10.5mm" x="42mm" y="259.5mm" fill="#9a59ce"/
  rect width="42mm" height="10.5mm" x="42mm" y="270.0mm" fill="#2d2d2d"/
  rect width="42mm" height="14.0mm" x="126mm" y="8.5mm" fill="#b580dc"/
  rect width="42mm" height="14.0mm" x="126mm" y="22.5mm" fill="#ffffff"/
  rect width="42mm" height="14.0mm" x="126mm" y="36.5mm" fill="#4a8020"/
  rect width="42mm" height="8.4mm" x="126mm" y="54.5mm" fill="#d52e00"/
  rect width="42mm" height="8.4mm" x="126mm" y="62.9mm" fill="#fe9a56"/
  rect width="42mm" height="8.4mm" x="126mm" y="71.3mm" fill="#ffffff"/
  rect width="42mm" height="8.4mm" x="126mm" y="79.7mm" fill="#d262a4"/
  rect width="42mm" height="8.4mm" x="126mm" y="88.1mm" fill="#a30362"/
  rect width="42mm" height="6.0mm" x="126mm" y="100.5mm" fill="#c479a0"/
  rect width="42mm" height="6.0mm" x="126mm" y="106.5mm" fill="#eba6cb"/
  rect width="42mm" height="6.0mm" x="126mm" y="112.5mm" fill="#d4c7e7"/
  rect width="42mm" height="6.0mm" x="126mm" y="118.5mm" fill="#ffffff"/
  rect width="42mm" height="6.0mm" x="126mm" y="124.5mm" fill="#d4c7e7"/
  rect width="42mm" height="6.0mm" x="126mm" y="130.5mm" fill="#eba6cb"/
  rect width="42mm" height="6.0mm" x="126mm" y="136.5mm" fill="#c479a0"/
  rect width="42mm" height="6.0mm" x="126mm" y="146.5mm" fill="#808080"/
  rect width="42mm" height="6.0mm" x="126mm" y="152.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="158.5mm" fill="#60d0ff"/
  rect width="42mm" height="6.0mm" x="126mm" y="164.5mm" fill="#ffffff"/
  rect width="42mm" height="6.0mm" x="126mm" y="170.5mm" fill="#60d0ff"/
  rect width="42mm" height="6.0mm" x="126mm" y="176.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="182.5mm" fill="#808080"/
  rect width="42mm" height="6.0mm" x="126mm" y="192.5mm" fill="#808080"/
  rect width="42mm" height="6.0mm" x="126mm" y="198.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="204.5mm" fill="#ffb0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="210.5mm" fill="#ffffff"/
  rect width="42mm" height="6.0mm" x="126mm" y="216.5mm" fill="#ffb0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="222.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="228.5mm" fill="#808080"/
  rect width="42mm" height="6.0mm" x="126mm" y="238.5mm" fill="#808080"/
  rect width="42mm" height="6.0mm" x="126mm" y="244.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="250.5mm" fill="#97d7e7"/
  rect width="42mm" height="6.0mm" x="126mm" y="256.5mm" fill="#ffffff"/
  rect width="42mm" height="6.0mm" x="126mm" y="262.5mm" fill="#97d7e7"/
  rect width="42mm" height="6.0mm" x="126mm" y="268.5mm" fill="#c0c0c0"/
  rect width="42mm" height="6.0mm" x="126mm" y="274.5mm" fill="#808080"/
